Repository Requisitos-de-Software/2020.2-Telegram, pull requests merged in 2021-03, with the labels that each got.

#14 Documento brainstorming
  docs/elicitacao/brainstorming.md
Labels: documentation, elicitação

#22 Documento de personas
  docs/assets/elicitacao/antipersona.png
  docs/assets/elicitacao/persona1.png
  docs/assets/elicitacao/persona2.png
  docs/assets/elicitacao/persona3.png
  docs/elicitacao/personas.md
Labels: documentation, elicitação

#21 Documento de análise de protocolo
  docs/elicitacao/analise_de_protocolo.md
Labels: documentation, elicitação

#15 Documento análise de discurso
  docs/assets/elicitacao/analise_de_discurso1.png
  docs/assets/elicitacao/analise_de_discurso2.png
  docs/elicitacao/analise_de_discurso.md
  docs/elicitacao/storytelling.md
  docs/stylesheets/styles.css
Labels: documentation, elicitação

#24 Documento observação
  docs/elicitacao/observacao.md
Labels: documentation, elicitação

#25 Documento de Entrevistas
  docs/elicitacao/entrevistas.md
Labels: documentation, elicitação

#28 Priorização de Requisitos - MoSCoW
  docs/elicitacao/moscow.md
Labels: documentation, elicitação

#35 Documento de cenários
  docs/modelagem/cenários/TodosOsCenarios.md
  docs/modelagem/cenários/cenario01.md
  docs/modelagem/cenários/cenario02.md
  docs/modelagem/cenários/cenario03.md
  docs/modelagem/cenários/cenario04.md
  docs/modelagem/cenários/cenario05.md
  docs/modelagem/cenários/cenario06.md
  docs/modelagem/cenários/cenario07.md
  docs/modelagem/cenários/cenario08.md
  docs/modelagem/cenários/cenario09.md
  docs/modelagem/cenários/cenario10.md
  docs/modelagem/cenários/cenario11.md
  docs/modelagem/cenários/cenario12.md
  docs/modelagem/cenários/cenario13.md
  docs/modelagem/cenários/cenario14.md
  docs/modelagem/cenários/cenario15.md
  docs/modelagem/cenários/cenario16.md
  docs/modelagem/cenários/cenario17.md
  docs/modelagem/cenários/cenario18.md
  docs/modelagem/cenários/cenario19.md
  docs/modelagem/cenários/cenario20.md
  docs/modelagem/cenários/cenario21.md
  docs/modelagem/cenários/cenario22.md
  docs/modelagem/cenários/cenario23.md
  docs/modelagem/cenários/cenario24.md
  docs/modelagem/cenários/cenario25.md
  docs/modelagem/cenários/cenario26.md
  docs/modelagem/cenários/cenario27.md
  docs/modelagem/cenários/cenario28.md
  docs/modelagem/cenários/cenario29.md
  docs/modelagem/cenários/cenario30.md
  docs/modelagem/cenários/cenario31.md
  docs/modelagem/cenários/cenario32.md
  docs/modelagem/cenários/cenario33.md
  docs/modelagem/cenários/cenario34.md
  docs/modelagem/cenários/cenario35.md
  docs/modelagem/cenários/cenario36.md
  docs/modelagem/cenários/cenario37.md
  docs/modelagem/cenários/cenario38.md
  docs/modelagem/cenários/cenario39.md
  docs/modelagem/cenários/cenario40.md
  docs/modelagem/cenários/cenario41.md
  docs/modelagem/cenários/cenario42.md
  docs/modelagem/cenários/cenario43.md
  docs/modelagem/cenários/cenario44.md
  docs/modelagem/cenários/cenario45.md
  docs/modelagem/cenários/cenario46.md
  docs/modelagem/cenários/cenario47.md
  docs/modelagem/cenários/cenario48.md
  docs/modelagem/cenários/cenario49.md
  docs/stylesheets/styles.css
Labels: documentation

#33 Documento de Léxicos
  docs/modelagem/lexicos.md
Labels: documentation

#30 Documento de Especificação Suplementar
  docs/modelagem/Especificação_Suplementar.md
Labels: documentation

#36 Documento de Casos de Uso
  docs/assets/modelagem/uc01_mensagens.png
  docs/assets/modelagem/uc02_grupos.png
  docs/assets/modelagem/uc03_configuracoes.png
  docs/assets/modelagem/uc04_pessoas_proximas.png
  docs/modelagem/casos_de_uso.md
Labels: documentation, modelagem
